<!DOCTYPE html>
<html>
    {{>head title=judul}}
<body>
    <div class="main-content">
        {{>header}}
        <p>Aplikasi ini digunakan untuk mengecek Cuaca!</p>
    </div>
    {{>footer}}
</body>
</html>