<!DOCTYPE html>
<html>
    {{>head title=judul}}
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/foto saya.jpg">
    </div>
    {{>footer}}
</body>
</html>